beautifulsoup4==4.6.3
numpy==1.21.0
scipy==1.4.1
pandas==1.0.3
matplotlib==3.2.1
Pillow==9.0.1
nltk==3.6.6
scikit-learn==0.22.2.post1
scikit-image==0.16.2
opencv-contrib-python==4.2.0.32
dlib==19.19.0
torch==1.4.0
torchvision==0.5.0